* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-image: linear-gradient(to bottom, #939393, #050505);
  margin: 0px 30px;
  color: white;
}
section {
  padding-top: 60px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
nav ul img {
  max-width: 300px;
  margin-right: 500px;
}
header {
  position: sticky;
  -webkit-position: sticky;
  top: 0px;

  margin-left: -30px;
  margin-right: -30px;
}
nav {
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(255, 0, 0, 0));
}

nav ul li a:link {
  text-decoration: none;
}
nav ul li a {
  color: white;
  border: 2px solid white;
  padding: 15px 20px;
  border-radius: 15px;
}
nav ul li a:hover {
  background-color: #9b1b1c;
  color: white;
}
nav ul li {
  padding: 10px 0px;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 33%;
}
h2 {
  margin-top: 90px;
  margin-bottom: 20px;
}
#name h1 {
  text-align: center;
  font-size: 48px;
  margin: 15px;
}
#name p {
  max-width: 70%;
  text-align: justify;
  font-size: 20px;
  margin-bottom: 30px;
}
#name {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-bottom: 30px;
}

#disco {
  color: white;
  background-image: url("offspring.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-shadow: 15px 15px 20px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 15px 15px 20px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 15px 15px 20px -7px rgba(0, 0, 0, 0.75);
}
#disco li {
  font-size: 30px;
  padding-bottom: 5px;
}
h2 {
  font-size: 48px;
  text-align: center;
}
#songs ul {
  font-size: 30px;
  text-align: justify;
  color: white;
}
#linkweb {
  padding: 60px 0px;
  background-color: black;
  margin-left: -30px;
  margin-right: -30px;
}
#songs ul li {
  margin: 10px;
}
.alpha {
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
  padding-top: 45px;
  margin-top: 60px;
  margin-left: -50px;
  margin-right: -50px;
}
.alpha::before {
  border-top: 8px solid black;
  -webkit-box-shadow: inset 3px 3px 11px 1px rgba(0,0,0,1);
  -moz-box-shadow: inset 3px 3px 11px 1px rgba(0,0,0,1);
  box-shadow: inset 3px 3px 11px 1px rgba(0,0,0,1);
  content: "";
  position: absolute;
  width: 150%;
  height: 80%;
  top: 15%;
  left: -50%;
  z-index: -1;
  background: linear-gradient(to bottom, #2b2a2a , #18a84b );
  -webkit-transform: rotate(358deg);
  transform: rotate(358deg);
}
#songs ul li a {
  color: white;
}
#songs div {
  display: flex;
  justify-content: space-around;
}
#songs img {
  max-width: 200px;
  max-height: 200px;
  -webkit-transform: translateX(200px);
}
#images img {
  border-radius: 15px;
}
#images h2 {
  font-size: 60px;
}
#fav {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 30px;
}
footer div p {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
